:root {
    /* colors */
    --black: #000;
    --darkGray: rgb(36, 36, 36);
    --medGray: rgb(75, 75, 75);
    --lightGray: #D3D3D3;
    --white: whitesmoke;
    --glow: rgb(255, 64, 64);
    /* font */
    --titleFont: 'Bungee', cursive;
    --textFont: 'JetBrains Mono', monospace;
}

body {
    font-family: var(--textFont);
    background-image: url("../images/manny-becerra-mMUo6jghVa8-unsplash.jpg");

}

/* NAVIGATION BAR */

.navbar {
    background-color: var(--darkGray);
    display: flex;
}

.navbar-brand {
    font-family: var(--titleFont);
    font-size: 40px;
    transition: all 0.2s ease-in-out;
}

.navbar-brand:hover{
    box-shadow: 0 5px 15px var(--glow);
    color: var(--glow);
    border-radius: 10px;    
}

/* GAME INFO DISPLAY */
.gameinfo-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.game-display {
    background-color: var(--darkGray);
    color: var(--white);
}

.card-title {
    font-size: 40px;
}