:root {
    /* colors */
    --black: #000;
    --darkGray: rgb(36, 36, 36);
    --medGray: rgb(75, 75, 75);
    --lightGray: #D3D3D3;
    --white: whitesmoke;
    --glow: rgb(255, 64, 64);
    /* font */
    --titleFont: 'Bungee', cursive;
    --textFont: 'JetBrains Mono', monospace;
}

body {
    font-family: var(--textFont);
    background-image: url("../images/manny-becerra-mMUo6jghVa8-unsplash.jpg");
    
}



/* NAVIGATION BAR */

.navbar {
    background-color: var(--darkGray);
    display: flex;
}

.navbar-brand {
    font-family: var(--titleFont);
    font-size: 40px;
}

.navbar-nav {
    position: absolute;
    right: 0px;
    top: 20px;
    align-items: center;
    vertical-align: middle;

}

.nav-link {
    border-radius: 10px;
    color: var(--lightGray);
    transition: all 0.2s ease-in-out;
    margin-right: 15px;
}

.nav-link:hover {
    box-shadow: 0 5px 15px var(--glow);
    color: var(--glow);
}



/* --CARD CONTAINER-- */
.card-container {
    background-color: var(--medGray);
    color: white;
    text-align: center;
    width: 50rem;
    max-width: 1000px;
    padding: 30px;
    margin: auto;
    margin-top: 200px;
    flex-direction: column;
    text-align: center;
    height: auto;
}

/* DROP DOWN OPTIONS CARD */

select {
    width: 30rem;
    margin-top: 2px;
    }

#submit-btn {
    width: 30rem;
    margin: 5px;
    background-color: #CF9FFF;
}


/* --SEARCH RESULTS-- */
.search-results {
    align-items: middle;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.game-btn {
    height: 150px;
    width: 500px;
    background-color: var(--black);
    font-size: 12px;
    margin: 10px;
}

.game-icon {
    height: 150px;
    width: 150px;
    background-color: var(--darkGray);
    color: var(--white);
}

.info-container {
    margin: 0;
    text-align: left;
    width: 70%;
}

.game-title {
    font-size: 20px;
    height: fit-content;
    width: fit-content;
    margin: 0;
}

.description {
    flex-wrap: wrap;
}

/* --SEARCH HISTORY-- */
.search-history {
    background-color: var(--darkGray);
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 300px;
    color: var(--white);
}