:root {
    /* colors */
    --black: #000;
    --darkGray: rgb(36, 36, 36);
    --medGray: rgb(75, 75, 75);
    --lightGray: #D3D3D3;
    --white: whitesmoke;
    --glow: rgb(255, 64, 64);
    /* font */
    --titleFont: 'Bungee', cursive;
    --textFont: 'JetBrains Mono', monospace;
}

body {
    font-family: var(--textFont);
    background-image: url("./assets/images/manny-becerra-mMUo6jghVa8-unsplash.jpg");
}

/* NAVIGATION BAR */

.navbar {
    background-color: var(--darkGray);
    display: flex;
}

.navbar-brand {
    font-family: var(--titleFont);
    font-size: 40px;
}

.navbar-nav {
    position: absolute;
    right: 0px;
    top: 20px;
    align-items: center;
    vertical-align: middle;

}

.nav-link {
    border-radius: 10px;
    color: var(--lightGray);
    transition: all 0.2s ease-in-out;
    margin-right: 15px;
}

.nav-link:hover {
    box-shadow: 0 5px 15px var(--glow);
    color: var(--glow);
}

/* DROP DOWN OPTIONS CARD */
.find-game {
    background-color: var(--medGray);
    color: white;
    font-weight: 30px;
    max-width: 1000px;
    padding: 30px;
    right: 6rem;
    top: 17rem;
    position: relative;
    margin: auto;
    flex-direction: column;
    text-align: center;
}

.btn-secondary {
    width: 30rem;
    margin: 15px;

}




/* --SEARCH HISTORY-- */
/* .search-history {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 300px;
    background-color: var(--darkGray);
    color: var(--white);
} */